
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    width: 100vw;
    background-color: #302C42;
    font-family: "Montserrat";
    overflow-x: hidden;
}
.hero
{
    width: 80%;
    margin: auto;
    padding: 2em 0;
}
.hero .hero-header
{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero .hero-header .header-logo
{
    display: flex;
    align-items: center;
}
.hero .hero-header .hamburger
{
    display: none;
}
.hero .hero-header .header-logo .header-img, .hero .hero-header .header-logo .header-text
{
    padding: 0 0.5em;
}
.hero .hero-header .header-menu .menu-list
{
    display: flex;
    align-items: center;
}
.hero .hero-header .header-menu ul
{
    list-style-type: none;
    text-transform:uppercase;
}
.hero .hero-header .header-menu ul li
{
    padding: 0 1em;
    font-size: 12px;
    font-weight: 700;
}
.hero .hero-header .header-menu ul li a 
{
    text-decoration: none;
    color: #FFFFFF;
}
.hero .hero-header .header-btn .contactUs, .hero .hero-header .header-btn .joinHydra
{
    width: 120px;
    padding: 10px;
    border-radius: 40px;
    text-transform: uppercase;
    margin: 0 1.5em;
}
.hero .hero-header .header-btn .contactUs
{
    background:none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-size: 12px;
    font-weight: 700;
}
.hero .hero-header .header-btn .joinHydra
{
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    font-size: 12px;
    font-weight: 700;
    border: none;
    outline: none;
    color: #343045;
}
.hero .hero-header-intro
{
  
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 5em 0;
    text-transform: capitalize;
}
.hero .hero-header-intro .header-intro-text
{
    display: flex;
    flex-direction: column;
}
.hero .hero-header-intro .header-intro-text h1
{
    width: 90%;
    font-size: 46px;
    font-weight: 700;
    color: #FFFFFF;
}
.hero .hero-header-intro .header-intro-text h1 .span-item
{
    background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
    font-size: 46px;
    font-weight: 700;
}
.hero .hero-header-intro .header-intro-text p
{
    width: 70%;
    font-size: 16px;
    font-weight: 400;
    color:#FFFFFF;
    padding: 2em 0;
    line-height: 20px;
    letter-spacing: 0.5px;
}
.hero .hero-header-intro .header-intro-text .header-intro-nav
{
  display: flex;
  align-items: center;  
}
.hero .hero-header-intro .header-intro-text .header-intro-nav button
{
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    width: 200px;
    padding: 15px;
    border-radius: 40px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 700;
  
    text-transform: uppercase;
}
.hero .hero-header-intro .header-intro-text .header-intro-nav img
{
    padding: 0 3.5em;
}
.hero .hero-header-intro .header-intro-img
{
   
}
.hero .hero-header-intro .header-intro-img img
{
    border-radius: 100px 100px 100px 240px;
}
.hero .hero-header-contact
{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 4px 4px 0px #C0B7E803;
    padding: 30px;
    border-radius: 90px;
    text-transform: capitalize;
}
.hero .hero-header-contact .location, .hero .hero-header-contact .phone, .hero .hero-header-contact .message
{
    display: flex;
    align-items: center;
    text-align: left;
    width: 30%;
    margin: auto;
}
.hero .hero-header-contact .location, .hero .hero-header-contact .phone
{
    border-right:1px solid #C0B7E854;
    
}
.hero .hero-header-contact .location .location-text h3, .hero .hero-header-contact .phone .phone-text h3, .hero .hero-header-contact .message .message-text h3
{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}
.hero .hero-header-contact .location .location-img img , .hero .hero-header-contact .phone .phone-img img, .hero .hero-header-contact .message .message-img img
{
    padding-right: 1em;
}

.hero .hero-header-contact .location .location-text p a , .hero .hero-header-contact .phone .phone-text p a, .hero .hero-header-contact .message .message-text p a
{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
}

.bioBox
{
    width: 80%;
    margin: auto;
    padding: 10em 0;
}
.bioBox .introduction
{
    display: flex;
    align-items: center;
}
.bioBox .introduction .left-intro
{
    width: 50%;
}
.bioBox .introduction .left-intro h1 .span-item
{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.88px;
    text-transform: uppercase;
}
.bioBox .introduction .left-intro .left-intro-bottom 
{
    display: flex;
    align-items: center;
}
.bioBox .introduction .left-intro .left-intro-bottom h1
{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 300;
    color: #FFFFFF;
}
.bioBox .introduction .left-intro .left-intro-bottom  img
{
    width: 50px;
}
.bioBox .introduction .right-intro 
{
    width: 50%;
}
.bioBox .introduction .right-intro p
{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.bioBox .about
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em 0;
}
.bioBox .about .about-img img
{
    width: 400px;
   border-top-left-radius: 10em;
   border-bottom-right-radius: 10em;
   border-top-right-radius: 5em;
   border-bottom-left-radius: 5em;
}
.bioBox .about .about-text
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.bioBox .about .about-text h1
{
    color:#FFFFFF ;
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
}
.bioBox .about .about-text h1 .span-item
{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
}
.bioBox .about .about-text p
{
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    padding: 1.5em 0;
}
.bioBox .about .about-text button
{
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    padding: 10px;
    border-radius: 40px;
    border: none;
    outline: none;
    width: 200px;
    text-transform: uppercase;
    font-family: Montserrat;
}

.services
{
    width: 80%;
    margin: auto;
    padding: 2em 0;
}
.services .service-intro
{
    display: flex;
    justify-content: space-between;
}
.services .service-intro .service-intro-header
{
    display: flex;
    color: #FFFFFF;
    text-transform: uppercase;
    align-items: center;
}
.services .service-intro .service-intro-header h1 
{
    font-size: 36px;
    font-weight: 300;
}
.services .service-intro .service-intro-header h1 .span-item
{
    font-size: 36px;
    font-weight: 700;
}
.services .service-intro .service-intro-header img
{
    width: 200px;
}
.services .service-intro .service-intro-text
{
    width: 50%;
}
.services .service-intro .service-intro-text p
{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.services .service-menu 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em 0;
    width: 100%;
}
.services .service-menu .service
{
    line-height: 20px;  
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
    border-radius: 40px;
    margin-right: 0.5em;
}
.services .service-menu .service img
{
    border-radius: 30em;
    border:10px solid #0E0E0E52;
    width: 150px;
}
.services .service-menu .service h1
{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    padding: 0.5em 0;
    border-bottom: 1px solid #C0B7E854
}
.services .service-menu .service p
{
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 400;
    padding: 1em 0;
    text-align: left;
}
.services .service-menu .service button
{
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    padding: 10px;
    width: 150px;
    border-radius: 40px;
    border: none;
    outline: none;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 2em 0;
}
.services .service-menu .service button a
{
    text-decoration: none;
    color: #343045;
}

.tech
{
    width: 80%;
    margin: auto;
    padding: 2em 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tech .tech-intro-text
{
    background-image: url("pexels-rodnae-productions-8097332 1.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    text-align: center;
    padding: 100px;
    border-radius: 160px;
}
.tech .tech-intro-text h1
{
    font-size: 36px;
    font-weight: 300;
    color: #FFFFFF;
    text-transform: uppercase;
}
.tech .tech-intro-text h1 .span-item
{
    font-size: 36px;
    font-weight: 700; 
}
.tech .tech-btn 
{
    background: #0E0E0E52;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    bottom: 30px;
    padding-bottom: -5em ;
}
.tech .tech-btn button
{
    border: none;
    outline: none;
    background:none;
    padding: 10px;
}
.tech .tech-btn button  a img
{
    padding: 10px;
    background: linear-gradient(267.61deg, #C0B7E8 -0.6%, #8176AF 98.31%);
    border-radius: 50%;
    border: none;
    outline: none;
}
.tech .tech-images
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.tech .tech-images img
{
    padding-right: 2em;
     width: 250px;
}

.process
{
    width: 80%;
    margin: auto;
    padding: 5em 0; 
}
.process .process-intro
{
    display: flex;
    justify-content: space-between;
}
.process .process-intro .process-intro-header
{
    display: flex;
    color: #FFFFFF;
    text-transform: uppercase;
    align-items: center;
}
.process .process-intro .process-intro-header h1 
{
    font-size: 36px;
    font-weight: 300;
}
.process .process-intro .process-intro-header h1 .span-item
{
    font-size: 36px;
    font-weight: 700;
}
.process .process-intro .process-intro-header img
{
    width: 200px;
}
.process .process-intro .process-intro-text
{
    width: 50%;
}
.process .process-intro .process-intro-text p
{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

.process .process-menu
{
    padding: 5em 0;
    display: flex;
    justify-content: space-evenly;
}
.process .process-menu .process-menu-item
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.process .process-menu .process-menu-item .process-menu-item-header
{
    padding: 15px;
    border-radius: 100px;
    margin: 1em 0;
    background: rgba(13, 13, 13, 0.32);
}
.process .process-menu .process-menu-item .process-menu-item-header h1
{
    color:#343045;
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(251.27deg, #C0B7E8 12.87%, #8176AF 89.33%);
    padding:30px;
    border-radius: 100px;
}
.process .process-menu .process-menu-item .process-menu-item-text
    {
    display: flex; 
    align-items: center;
    width: 80%;
}
.process .process-menu .process-menu-item .process-menu-item-text p
{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
}
.process .process-menu .process-menu-item .process-menu-item-text img
{
    width: 40px;
    padding-right: 1em;
}

.opt-In
{
    width: 80%;
    margin: auto;
    padding: 5em 0;
    border-radius: 50px;
    background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
}
.opt-In .form-field 
{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opt-In .form-field .form-header
{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}
.opt-In .form-field .form-header h1
{
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}
.opt-In .form-field .form-header p
{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 300;
    padding: 0.5em 0;
}
.opt-In .form-field .form-body
{
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    padding-top: 2em;
}
.opt-In .form-field .form-body section
{
    padding: 0.5em 0;
}
.opt-In .form-field .form-body .user-info
{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.opt-In .form-field .form-body .user-info input
{
    padding: 15px;
    background: none;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    width: 400px;
    margin: 1em 0;
    margin-right: 0.5em;
}
.user-info ::placeholder
{
    padding-left: 2em;
    text-transform: capitalize;
}
.user-subject ::placeholder, .user-message ::placeholder
{
    padding-left: 3em;
    padding-top: 1em;
    text-transform: capitalize;
    font-size:px;
}

.opt-In .form-field .form-body .user-subject textarea, .opt-In .form-field .form-body .user-message textarea
{
    resize: none;
    border: 2px solid #FFFFFF;
    background: none;
    width: 100%;
    border-radius: 20px;
    color:#FFFFFF;
}
.opt-In .form-field .form-body .user-btn input
{
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    padding: 12px;
    width: 20%;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    color: #343045;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
footer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top:10em ;
}
footer .footer-top
{
    display: flex;
    justify-content: space-around;
    padding: 2em 0;
    background-image: url("Vector\ 18.png");
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
}
footer .footer-top .footer-item
{
    width: 20%;
}
footer .footer-top .footer-item ul
{
    text-transform: uppercase;
}
footer .footer-top .footer-item .footer-item-list
{
    list-style-type: none;
}
footer .footer-top .footer-item .footer-item-list li
{
   padding: 0.5em 0;
}
footer .footer-top .footer-item .footer-item-list li a 
{
     text-decoration: none;
     color: #FFFFFF;   
}
footer .footer-top .footer-item p
{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}
footer .footer-top .footer-item .media-links a img
{
    padding-right: 0.2em;
    margin: 1.5em 0;
}
footer .footer-top .footer-item button
{
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    padding: 10px;
    border-radius: 40px;
    border: none;
    outline: none;
    text-transform: uppercase;
    color:#343045;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
}
hr
{
    width: 80%;
    margin: auto;
}
footer .footer-bottom
{
    text-align: center;
    padding: 3em 0;
}
footer .footer-bottom p
{
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
}

@media screen and (max-width: 767px){
    body 
    {
        overflow-x: hidden;
      width: 100vw;
       
    }
    
    .hero
    {
        width: 80%;
        margin: auto;
    }
    .hero .hero-header 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hero .hero-header .header-logo img
    {
        width: 80px;
    }

    .hero .hero-header .header-menu, .hero .hero-header .header-btn
    {
        display: none;
    }
    .hero .hero-header .hamburger
    {
        display: block;
    }
    .hero .hero-header-intro
    {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin: auto;
    }
    .hero .hero-header-intro .header-intro-img img
    {
        width: 100%;
    }
    .hero .hero-header-intro .header-intro-text
    {
        padding: 2em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .hero .hero-header-intro .header-intro-text h1
    {
        font-family: Montserrat;
        font-size: 25px;
        font-weight: 700;
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .hero .hero-header-intro .header-intro-text h1 .span-item
    {
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        line-height: 48.76px;
        text-align: center;

    }
    .hero .hero-header-intro .header-intro-text p
    {
        display: none;
    }
    .hero .hero-header-intro .header-intro-text .header-intro-nav button 
    {
        width: 300px;
        padding: 15px;
        font-size: 14px;
        font-weight: 700;
        margin: 1em 0;
    }
    .header-intro-nav img
    {
        display: none;
    }
    .hero .hero-header-contact
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 20px;
    }
    .hero .hero-header-contact .location .location-text h3,.hero .hero-header-contact .phone .phone-text h3,.hero .hero-header-contact .message .message-text h3
    {
        font-size: 15px;
    }
    .hero .hero-header-contact .location,.hero .hero-header-contact .phone, .hero .hero-header-contact .message
    {
        display: flex;
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #8176AF;
        margin: 1.5em 0;
        padding: 1em 0;

    }
    
    .bioBox 
    {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        justify-content: center;
    }
    .bioBox .introduction
    {
        align-items: center;
    }
    .bioBox .introduction .left-intro
    {
        width: 100%;
        margin:auto;
    }
    .bioBox .introduction .left-intro h1
    {
        text-align: center;
    }
    .bioBox .introduction .left-intro h1 .span-item
    {
    font-size: 26px;
    font-weight: 700;
    }
    .bioBox .introduction .left-intro .left-intro-bottom
    {
       display: flex;
       justify-content: center;
    }
    .bioBox .introduction .left-intro .left-intro-bottom h1
    {
        font-size: 26px;
        font-weight: 300;
        text-align: center;
    }
    .bioBox .introduction .left-intro .left-intro-bottom img 
    {
        display: none;
    }
    .bioBox .introduction .right-intro 
    {
        display: none;
    }
    .bioBox .about
    {
        display: flex;
        flex-direction: column;
    }
    .bioBox .about .about-img img 
    {
        width: 100%;
        border-radius: 60px 140px 60px 140px;
    }
    .bioBox .about
    {
        width: 100%;
        margin: auto;
    }
    .bioBox .about .about-text 
    {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bioBox .about .about-text h1 
    {
        display: none;
    }
    .bioBox .about .about-text p
    {
        font-size: 15px;
        font-weight: 200;
        line-height: 18px;
        text-align: left;
        letter-spacing: 1px;
    }
    .bioBox .about .about-text button 
    {
        padding: 20px;
        width: 90%;
        margin: auto;
        font-size: 14px;
        font-weight: 700;
        color: #343045;
    }
    .services
    {
        width: 80%;
        margin: auto;
    }
    .services .service-intro 
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .services .service-intro .service-intro-header
    {
        width: 100%;
        padding: 1em 0;
    }
    .services .service-intro .service-intro-header h1 
    {
        width: 100%;
    }
    .services .service-intro .service-intro-text
    {
        width: 100%;
    }
    .services .service-intro .service-intro-text p 
    {
        width: 100%;
    }
    .services .service-intro  .service-intro-header img 
    {
        display: none;
    }
    .services .service-menu
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;align-items: center;
        justify-content: center;
    }
    .services .service-menu .service
    {
        width: 100%;
        margin: 1em 0;

    }
    .services .service-menu .service p
    {
        font-size: 18px;
        text-align: center;
        width: 100%;
    }
    .services .service-menu .service button 
    {
        padding: 15px;
    }
    .tech
    {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tech .tech-intro-text
    {
        border-radius: 0px;
        width: 500px;
        display: flex;
        justify-content: center;
        padding: 30px;
        border-radius: 20px;
    }
    .tech .tech-intro-text h1 
    {
        width: 100%;
        margin: auto;
        font-size: 25px;
    }
    .tech .tech-intro-text h1  .span-item
    {
        font-size: 25px;
    }
    .tech .tech-btn
    {
        display: none;
    }
    .tech .tech-images
    {
        
    }
    .tech .tech-images img 
    {
        width: 100px;

    }
    .process 
    {
        width: 80%;
        margin: auto;
    }
    .process .process-intro
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .process .process-intro .process-intro-header h1
    {
        text-align: center;
        font-size: 30px;
        width: 100%;
    }
    .process .process-intro .process-intro-header h1 .span-item
    {
        font-size: 30px;
    }
    .process .process-intro .process-intro-header img 
    {
        display: none;
    }
    .process .process-intro .process-intro-text
    {
        width: 100%;
        padding: 1.5em 0;
        align-items: center;
    }
    .process .process-intro .process-intro-text p 
    {
        width: 100%;
    }
    .process .process-menu 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .process .process-menu  .process-menu-item
    {
        padding: 1em 0;
    }
    .opt-In 
    {
        width: 80%;
        margin: auto;
    }
    .opt-In .form-field
    {
        width: 100%;
        margin: auto;
    }
    .opt-In .form-field .form-header
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        text-align: center;
    }
    .opt-In .form-field .form-header h1
    {
        font-size: 24px;
        font-weight: 700;
    }
    .opt-In .form-field .form-header p
    {
        font-size: 24px;
        font-weight: 300;
    }
    .opt-In .form-field .form-body
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
    .opt-In .form-field .form-body .user-info, .opt-In .form-field .form-body .user-subject, .opt-In .form-field .form-body .user-message, .opt-In .form-field .form-body .user-btn
    {
        width: 100%;
        margin: auto;
    }
   .opt-In .form-field .form-body .user-subject textarea, .opt-In .form-field .form-body .user-message textarea
   {
    width: 100%;
    margin: auto;
   }
    .opt-In .form-field .form-body .user-info
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .opt-In .form-field .form-body .user-info input
    {
      width: 100%;
    }
    .opt-In .form-field .form-body .user-btn input 
    {
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        color: #343045;
    }
    footer
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer .footer-top
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    footer .footer-top .footer-item
    {
        display: flex;
        justify-content: center;
        width: 80%;
    }
    footer .footer-top .footer-item .footer-item-img 
    {
       width: 80%;
       margin: auto;
    }
    footer .footer-top .footer-item .footer-item-list
    {
        display: none;
    }
    #footer-media
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: auto;
    }
    #footer-media p 
    {
        font-size: 16px;
        font-weight: 700;
       padding-top: 5em;
    }
    #footer-media .media-links
    {
        padding: 0.5em 0;
    }
    #footer-media .media-links a img 
    {
        padding-right: 0.5em;
    }
    #footer-media button 
    {
        width: 80%;
        padding: 20px;
        font-size: 14px;
        font-weight: 700;
    }
    .footer-bottom
    {
        width: 80%;
        margin: auto;
        padding: 1em 0;
    }
    .footer-bottom p 
    {
        font-size: 14px;
        font-weight: 500;
        line-height: 17.07px;
        letter-spacing: 0.13em;
        text-align: center;
        letter-spacing: 1px;
        word-spacing: 2px;
        width: 100%;
        margin: auto;
        line-height: 30px;
    }
} 
@media screen and (min-width:768px) and (max-width:1023px){
body
{
    overflow-x: hidden;
    width: 100vw;
}
.hero
{
   width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero .hero-header
{
   width: 100%;
   margin: auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.hero .hero-header .header-menu, .hero .hero-header .header-btn
    {
        display: none;
    }
.hero .hero-header .hamburger
    {
        display: block;
    }
.hero .hero-header-intro 
{
    width: 100%;
    margin: auto;
}    
.hero .hero-header-intro  .header-intro-text
{
    width: 50%;
}
.hero .hero-header-intro  .header-intro-text h1
{
    width:100%;
    font-size: 25px;
}
.hero .hero-header-intro  .header-intro-text h1 .span-item
{
    font-size: 25px;
}
.hero .hero-header-intro  .header-intro-text p
{
    font-size: 16px;
    text-align: left;
    width: 100%;
}
.hero .hero-header-intro  .header-intro-text .header-intro-nav
{
    width: 100%;
}
.hero .hero-header-intro  .header-intro-text .header-intro-nav button 
{
    width:500px;
    font-size: 12px;
    padding: 10px;
}

.hero .hero-header-intro  .header-intro-img
{
    width:50%;
    margin: auto;
}
.hero .hero-header-intro  .header-intro-img img 
{
    width: 100%;
}
.hero .hero-header-contact
{
    width: 100%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hero .hero-header-contact .location, .hero .hero-header-contact .phone, .hero .hero-header-contact .message
{
    width: 35%;
    margin: auto;
    padding: 8px;
}
.hero .hero-header-contact .location .location-img img,.hero .hero-header-contact .phone .phone-img img, .hero .hero-header-contact .message .message-img img
{
    width: 40px;
}
.hero .hero-header-contact .location .location-text h3,.hero .hero-header-contact .phone .phone-text h3,.hero .hero-header-contact .message .message-text h3
{
    font-size: 15px;
}
.hero .hero-header-contact .location .location-text p,.hero .hero-header-contact .phone .phone-text p,.hero .hero-header-contact .message .message-text p
{
    font-size: 10px;
}
.bioBox 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}
.bioBox .introduction
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
.bioBox .introduction .left-intro
{
    width: 50%;
}
.bioBox .introduction .left-intro h1 .span-item, .bioBox .introduction .left-intro .left-intro-bottom h1, .bioBox .about .about-text h1 .span-item, .bioBox .about .about-text h1, .process .process-intro .process-intro-header h1, .process .process-intro .process-intro-header h1 .span-item 
{
    font-size: 30px;
}
.bioBox .introduction .right-intro 
{
    width: 50%;
}
.bioBox .introduction .right-intro  p 
{
    width: 100%;
}
.bioBox .about 
{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.bioBox .about .about-img
{
    width: 50%;
}
.bioBox .about .about-img img 
{
    width: 100%;
    margin: auto;
   margin-left: -1rem;
}
.bioBox .about .about-text 
{
    width: 50%;
}
.bioBox .about .about-text  p 
{
    width: 100%;
    font-size: 15px;
}
.bioBox .about .about-text button 
{
    padding: 15px;
    font-weight: 500;
}

.services
{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services .service-intro
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin: auto;
}
.services .service-intro .service-intro-header
{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
}
.services .service-intro .service-intro-header 
{
    width: 50%;
}
.services .service-intro .service-intro-header  p
{
    width: 100%;
}
.services .service-menu
{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    row-gap: 20px;
    column-gap: 20px;
}
.services .service-menu .service
{
  width: 100%;
  text-align: left;
}
.services .service-menu .service p
{
    font-size: 15px;
}
.tech 
{
    width: 100%;
}
.tech .tech-intro-text
{
    border-radius: 0;
}
.tech .tech-images 
{
  
}
.tech .tech-images img
{
    width: 150px;
}
.process
{
    width: 80%;
    margin: auto;
}
.process .process-intro .process-intro-header
{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
}
.process .process-intro .process-intro-header 
{
    width: 50%;
}
.process .process-intro .process-intro-header  p
{
    width: 100%;
}
.process .process-menu
{
   display: grid;
   grid-template-columns: auto auto;
   align-items: center;
   justify-content: center;
   gap: 20px;
}
.opt-In
{
    width: 80%;
    margin: auto;
}
.opt-In .form-field 
{
    width: 100%;
    margin: auto;
}
.opt-In .form-field .form-header h1
{
    font-size: 30px;
}
.opt-In .form-field .form-header p 
{
    font-size: 25px;
}
.opt-In .form-field .form-body
{
   width: 80%;
   margin: auto;
}
.opt-In .form-field .form-body .user-info
{
    width: 100%;
}
.opt-In .form-field .form-body .user-info input 
{
    width: 100%;
    margin-left: -15px;
}
.opt-In .form-field .form-body .user-btn
{
    width: 100%;
    margin: auto;
}
.opt-In .form-field .form-body .user-btn input 
{
    width:40%;
    margin: auto;
    font-size: 15px;
    font-weight: 700;
}
footer .footer-top .footer-item 
{
   width: 30%;
  
}
footer .footer-top .footer-item .footer-item-img
{
    width: 150px;
}
#footer-media p 
{
    font-size: 12px;
}
#footer-media .media-links img
{
    width: 25px;
}
}
@media screen and (min-width: 1024px) and (max-width:1080px ){
    body 
    {
        width: 100vw;
        overflow-x: hidden;
    }
    .hero .hero-header
    {
       width: 100%;
       margin: auto;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
    }
    .hero .hero-header .header-menu, .hero .hero-header .header-btn
        {
            display: none;
        }
    .hero .hero-header .hamburger
        {
            display: block;
        }
        .hero .hero-header-intro
        {
            gap: 20px;
        }
    .hero .hero-header-intro .header-intro-text
    {
        width: 50%;
    }
    .hero .hero-header-intro .header-intro-text h1
    {
        width: 100%;
        font-size: 35px;
        text-align: left;
    }
    .hero .hero-header-intro .header-intro-text h1 .span-item
    {
        font-size: 40px;
    }
    .hero .hero-header-intro .header-intro-text p
    {
        width: 100%;
    }
    .hero .hero-header-intro .header-intro-img
    {
        width: 50%;
    }
    .hero .hero-header-intro .header-intro-img img  
    {
        width: 100%;
    }
    .opt-In .form-field .form-body .user-btn input 
    {
        width: 30%;
        padding: 15px;
        font-size: 15px;
        font-weight: 900;
    }

    #footer-media p 
{
        font-size: 12px;
    }
    #footer-media .media-links img
    {
        width: 25px;
}
}


